@model PollinatorPathway.Areas.Identity.Data.PollinatorPathwayUser
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Admin Portal";
}

<div class = "mainContent">
    <fieldset>
        <h1>Welcome, @Model.FirstName</h1>

    <div class="basenav">
        <span id = "open" style="font-size:30px;cursor:pointer;color:white;padding-left:10px;" onclick="openNav()">&#9776; </span>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div>
            <input  class = "button" type="button" onclick="location.href='@Url.Action("CreateProfile", "Home")'"  value="Create User Profile"/>
        </div>
        <div>
             <input class = "button" type="button" onclick="location.href='@Url.Action("getUsers", "Home")'" value="Search User Profiles"/>
        </div>
         <div>
             <a asp-area="Identity" asp-page="/Account/Register">Create Admin Account</a>
        <div>
             <input class = "button" type="button" onclick="location.href='@Url.Action("AdminList", "Home")'" value="Search Admin Accounts"/>
        </div>
        </div>
         <div>
             <input class = "button" type="button" onclick="location.href='@Url.Action("ImageApproval", "Home")'"value="Approve User Content"/>
        </div>
    </div>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <h2 style = "padding-top:50px">Pollinator Pathway</h2>
    <div id="map" style="width: 100%;height: 600px;padding-left:40px;"></div>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW8pXWk1gU0vpphdAjFzNhJVqBWDF53Qc&callback=initMap&v=weekly"
      defer
    ></script>
    <script>
        function initMap() {
   {

  const cascadia = { lat: 47.7609, lng: -122.1914 };
  
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 14,
    center: cascadia,
  });
   
 //An SVG icon representing a location pin with a check mark
  const image = "https://user-images.githubusercontent.com/67928730/172041007-b16b5c3e-2847-4dbf-8086-0ddc62bc34d7.png";
       
  // The marker, positioned at Cascadia
  const marker = new google.maps.Marker({
    position: cascadia,
    map: map,
    icon: image,
  });
}
}

window.initMap = initMap;
    </script>
   
</fieldset>