@model IEnumerable<PollinatorPathway.Model.UploadedImage>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Admin Search";
    Layout = "_Layout";
}

<h3>User Profiles </h3>


<table class="table">
    <tr>
        <th>ImageId</th>
        <th>IsApproved</th>
        <th>Image File(click to view)</th>
        <th>Action</th>
    </tr>

    @foreach (var image in Model)
    {
        <tr>
            <td>
                @image.ImageId
            </td>
            <td>
                @image.IsApprovced
            </td>
             <td>
                @image.imageUrl
            </td>
             
          <td class="rightedge">
                <a asp-action="ImageRemoval" asp-controller="Home"
                   asp-route-id="@image.ImageId">Remome</a> |
                <a asp-action="ImageUpdate" asp-controller="Home"
                   asp-route-id="@image.ImageId">Update</a>
                   <a asp-action="ImageUpdate" asp-controller="Home"
                   asp-route-id="@image.ImageId">Approve</a>
                    <a asp-action="ImageUpdate" asp-controller="Home"
                   asp-route-id="@image.ImageId">Reject</a>
            </td>
           
           
        </tr>
    }

</table>