@model IEnumerable<PollinatorPathway.Model.UploadedImage>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Admin Search";
    Layout = "_Layout";
}

<h3>Approve User Uploaded Content</h3>


<table class="table">
    <tr>
        <th>Image Id</th>
        <th>Name</th>
        <th>Image File(click to view)</th>
        <th>Action</th>
    </tr>

    @foreach (var image in Model)
    {
        <tr>
            <td>
                @image.Id
            </td>
             <td>
                @image.Name
            </td>
             <td>
                @{
                  var base64 = Convert.ToBase64String(@image.File);
                  var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                 }

              <img src="@imgSrc" class = "img"/>
              <!-- onclick="enlargeImg()" id="img" width = 200 -->
            </td>
             
          <td class="rightedge">
                   <a asp-action="ApproveImage" asp-controller="Home"
                   asp-route-id="@image.Id">Approve</a>| 
                      @Html.ActionLink("Remove", "RemoveImage", new { id = @image.Id }, new { onclick = "return confirm('Are sure wants to delete?');" }) 
                

            </td>
           
           
        </tr>
    }

</table>
