@model IEnumerable<PollinatorPathway.Model.UserProfile>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Admin Search";
    Layout = "_Layout";
}

<h3>User Profiles </h3>
<form asp-controller="Home" asp-action="SearchForProfileByFirstName">
    <p>
        <input type="text" class="form-control" name="fName" />
        <input type="submit"  value="Search" />
    </p>
</form>
      
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone</th>
        <th>Team Contact</th>
        <th>Date Joined</th>
        <th>Organization Name</th>
        <th>Organization Email</th>
        <th>Organization Type</th>
        <th>Address</th>
        <th>GPS</th>
        <th>Plant Name</th>
        <th>Plant Description</th>
        <th>Image 1</th>
        <th>Image 2</th>
        <th>Image 3</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.FirstName
            </td>
            <td>
                @user.LastName
            </td>
            <td>
                @user.EmailAddress
            </td>
            <td>
                @user.Phone
            </td>
            <td>
                @user.TeamContact
            </td>
            <td>
                @user.DateJoined
            </td>
            <td>
                @user.OrganizationName
            </td>
            <td>
                @user.OrganizationEmail
            </td>
            <td>
                @user.OrganizationType
            </td>
            <td>
                @user.Address
            </td>
            <td>
                @user.GPS
            </td>
            <td>
                @user.PlantName
            </td>
            <td>
                @user.PlantDesc
            </td>
            <td>
                @user.Image1
            </td>
            <td>
                @user.Image2
            </td>
            <td>
                @user.Image3
            </td>
          <td class="rightedge">
                  @Html.ActionLink("Remove", "DeleteProfile", new { id = @user.Id }, new { onclick = "return confirm('Are you sure you want to delete?');" }) |
                <a asp-action="UpdateProfile" asp-controller="Home"  asp-route-id="@user.Id">Update</a>
            </td>
           
           
        </tr>
    }

</table>

<input  type="button" onclick="location.href='@Url.Action("GetUsers", "Home")'"value="Reset"/>
  